In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
1090,tt0319343,32000000,173398518,Elf,Will Ferrell|James Caan|Zooey Deschanel|Mary S...,Jon Favreau,"This holiday, discover your inner elf.",When young Buddy falls into Santa's gift sack ...,97,Romance|Comedy|Family|Fantasy,New Line Cinema|Gold/Miller Productions|Guy Wa...,10/9/2003,6.5,2003
300,tt1155056,41000000,91636986,"I Love You, Man",Paul Rudd|Rashida Jones|Jason Segel|Sarah Burn...,John Hamburg,Are You Man Enough To Say It?,Peter Klaven is a successful real estate agent...,105,Comedy,DreamWorks SKG|The Montecito Picture Company|D...,3/20/2009,6.4,2009
349,tt0865559,17000000,20455276,My Life in Ruins,Nia Vardalos|Richard Dreyfuss|Alexis Georgouli...,Donald Petrie,The most fun you can have without a passport.,A Greek tour guide named Georgia attempts to r...,95,Comedy|Romance,Fox Searchlight Pictures|26 Films,2/6/2009,5.7,2009
684,tt0800240,25000000,17741298,Deception,Hugh Jackman|Ewan McGregor|Michelle Williams|B...,Marcel Langenegger,"When you're in this world, no one is who they ...",As a corporate auditor who works in a number o...,107,Drama|Thriller|Crime|Mystery,Rifkin-Eberts|Dune Entertainment III|Seed Prod...,4/24/2008,5.8,2008

In [77]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,lenght_overview,lenght_title
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,52.410270,15.037057
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,26.631917,8.552660
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,10.000000,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,32.000000,9.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,48.000000,13.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,67.000000,18.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,175.000000,83.000000

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  lenght_overview       1889 non-null   int64
 16  lenght_title          1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(8)
memory usage: 251.0+ KB

In [112]:
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_overview,lenght_title
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,26,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,110,18
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,22,9
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,26,28
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,14,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717,27,5
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,2000-10-27,6.4,2000,-8444012,75,18
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180,58,36
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,5.2,2000,-3962091,24,10
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502,43,12

# Предобработка

In [38]:
# создадим словарь для ответов
answers = {}

# создадим колонку, которая будет считать прибыль фильмов:
data["profit"] = data['revenue'] - data['budget']

# в данном датасете, изначально, объекты в колонке 'release_date' относились к типу str,
# поэтому преобразуем их в удобный для нас формат datetime:
data['release_date'] = pd.to_datetime(data['release_date'])

# создадим колонку, которая посчитает количество символов в назавнии фильмов:
data['lenght_title'] = data.original_title.map(lambda x: len(x))

# создадим колонку, которая посчитает количество слов в описании фильмов:
data['lenght_overview'] = data.overview.map(lambda x: len(x.split(' ')))

# 1. У какого фильма из списка самый большой бюджет?

In [41]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [44]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_overview,lenght_title
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,75,43

# 2. Какой из фильмов самый длительный (в минутах)?

In [45]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# "+"

In [23]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [50]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# "+"

In [51]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,lenght_overview,lenght_title
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,52,15

# 4. Какова средняя длительность фильмов?

In [47]:
answers['4'] = '2. 110'
# "+"

In [49]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '1. 107'
# "+"

In [28]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [79]:
answers['6'] = '5. Avatar (tt0499549)'
# "+"

In [31]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [80]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# "+"

In [32]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [55]:
answers['8'] = '1. 1478'
# "+"

In [43]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [81]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# "+"

In [54]:
data.loc[data.release_year == 2008].sort_values(
    by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [82]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# "+"

In [83]:
data[(data.release_year > 2012) &
     (data.release_year <= 2014)][['imdb_id', 'revenue',
                                   'profit', 'original_title', ]].sort_values('profit', ascending=True). head(1)

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [84]:
answers['11'] = '3. Drama'
# "+"

In [15]:
geners = pd.Series([x.split('|')
                    for x in data['genres']]).explode().value_counts()
geners

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [86]:
answers['12'] = '1. Drama'
# "+"

In [85]:
positive_profit = data[data.profit > 0]
genres_profit = positive_profit.genres.str.split(
    '|', expand=True).stack().value_counts()
genres_profit

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [87]:
answers['13'] = '5. Peter Jackson'
# "+"

In [105]:
def director_revenue(df):
    '''Создаём функцию, которая суммирует прибыльность каждого режиссёра отдельно'''
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].director.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns=['Summ'])


display(director_revenue(data[data.revenue > 0]
                         ).sort_values(by=['Summ'], ascending=False))

                         Summ
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [88]:
answers['14'] = '3. Robert Rodriguez' 
# "+"

In [27]:
grouped1 = data[data.genres.str.contains("Action", na=False)]
grouped2 = grouped1['director'].str.split(
    '|', expand=True).stack().value_counts()
grouped2

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
David Leitch          1
Mike Newell           1
Andy Tennant          1
Gary McKendry         1
Mathieu Kassovitz     1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [89]:
answers['15'] = '3. Chris Hemsworth'
# "+"

In [107]:
data_1 = data[data.release_year == 2012][['cast', 'revenue']]
data_1.cast = data_1.cast.apply(lambda s: s.split('|'))
data_sub_exp = data_1.explode('cast')
data_sub_exp.groupby(by='cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [90]:
answers['16'] = '3. Matt Damon'
# "+"

In [108]:
def counter(movie_bd, x):
    '''Создаём функцию, которая вернёт нам количество фильмов с заданными параметрами'''
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info


sum_gen = counter(data[data['budget'] > data['budget'].mean()], 'cast')
sum_gen

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Donnie Wahlberg       1
Tom McGrath           1
Brian Dennehy         1
Andrew McCarthy       1
Hal Holbrook          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [91]:
answers['17'] = '2. Action' 
# "+"

In [40]:
grouped1 = data[data.cast.str.contains("Nicolas Cage", na=False)]
grouped2 = grouped1['genres'].str.split(
    '|', expand=True).stack().value_counts()
grouped2

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [92]:
answers['18']= '1. K-19: The Widowmaker (tt0267626)'
# "+"

In [43]:
grouped1 = data[data.production_companies.str.contains(
    "Paramount Pictures", na=False)]
grouped2 = grouped1.sort_values('profit', ascending=True).head(1)
grouped2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [93]:
answers["19"] = '5. 2015'
# "+"

In [46]:
grouped_data = data.groupby(["release_year"])[
    'revenue'].sum().sort_values(ascending=False)
grouped_data.head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [94]:
answers['20'] = '1. 2014'
# "+"

In [47]:
grouped1 = data[data.production_companies.str.contains(
    "Warner Bros", na=False)]
grouped_data = grouped1.groupby(["release_year"])[
    'revenue'].sum().sort_values(ascending=False)
grouped_data.head(5)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [95]:
answers['21'] = '4. Сентябрь'
# "+"

In [109]:
data['release_date'] = pd.to_datetime(data['release_date'])
movies_group = data.groupby(data['release_date'].dt.strftime('%B'))[
    'imdb_id'].count().sort_values(ascending=False)
movies_group

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [96]:
answers["22"] ='2. 450'
# "+"

In [67]:
data['release_date'] = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([6, 7, 8, ])]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [97]:
answers['23'] = '5. Peter Jackson'
# "+"

In [69]:
data_tmp = data[data.release_date.dt.month.isin([1, 2, 12, ])]
grouped2 = data_tmp['director'].str.split(
    '|', expand=True).stack().value_counts()
grouped2

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Nancy Meyers         4
                    ..
Alan Parker          1
Andy Muschietti      1
Ric Roman Waugh      1
J.C. Chandor         1
Sergey Bodrov        1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [98]:
answers["24"] = '5. Four By Two Productions'
# "+"

In [19]:
def counter(movie_bd, x):
    '''Создаём функцию, которая вернёт нам количество фильмов с заданными параметрами'''
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info


data['lenght_title'] = data.original_title.map(lambda x: len(x))
sum_gen = counter(data, 'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['lenght'][data['production_companies'].map(
        lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                             0
Four By Two Productions     83
Jim Henson Company, The     59
Dos Corazones               47
Museum Canada Productions   46
Polsky Films                46
...                         ..
Berlanti Productions         3
Everest Entertainment        3
XM2 Productions              2
Ixtlan Productions           2
Global Entertainment Group   2

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [99]:
answers['25'] = '3. Midnight Picture Show'
# "+"

In [15]:
def counter(movie_bd, x):
    '''Создаём функцию, которая вернёт нам количество фильмов с заданными параметрами'''
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info


data['lenght_overview'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen = counter(data, 'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['lenght_overview'][data['production_companies'].map(
        lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                                                  0
Midnight Picture Show                           175
Heineken Branded Entertainment                  161
Room 9 Entertainment                            161
98 MPH Productions                              159
Brookwell-McNamara Entertainment                156
...                                             ...
TDJ Enterprises / New Dimensions Entertainment   13
Sony Pictures Worldwide Acquisitions (SPWA)      13
Phantom Four                                     13
Motion Picture Corporation of America            11
Empire Pictures                                  11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [100]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

In [91]:
data[data['vote_average'] > data.quantile(
    0.99, numeric_only=True)['vote_average']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_words_length,lenght
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,2,10
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,1,4
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,1,12
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,4,23
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,3,18
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,2,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,4,24
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,1,9
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,3,15
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,2,11
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,10,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,5,23
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,4,16
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,1,7

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [101]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# "+"

In [92]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list = []
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Adam Sandler Kevin James            5
Hugh Jackman Ian McKellen           5
Paul Walker Vin Diesel              5
Kristen Stewart Robert Pattinson    5
Robert Pattinson Taylor Lautner     5
Name: actor_combinations, dtype: int64

# Submission

In [110]:
# посмотрим ответы
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [111]:
# убедился, что ничего не пропустил
len(answers)

27